<%= form_with(model: author, local: true) do |form| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :author_first_name %>
  </div>

  <div class="field">
    <%= form.label :family_name %>
    <%= form.text_field :family_name, id: :author_family_name %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, id: :author_phone_number %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.datetime_select :date_of_birth, id: :author_date_of_birth %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
